<!--
Names: Paul Lim, Sonja Hanemann
Group: 108
Project Title: Pedal Box Delivery
Class: CS340 400 Introduction to Databases
Description: Project Step 4 Draft Version: Implement CRUD for One Entity
-->


<html>
    <body>
        <h3>About Us</h3>
        <p>Pedal Box Delivery represent a small food courier service in San Diego, California that makes over 20,000 deliveries and over $600K in sales per year.<br/> We rely on our trusty network of 5-10 bike couriers
        and relationships with over 10 local restaurants to make this a successful business. <br/>
        Due to the increased demand for our services specifically around lunch and dinner, the changing courier roster and restaurant network, 
        and the faster changing menu items,  <br/>we need a reliable and efficient database system to provide our customers accurate food items and fees and our couriers timely delivery orders and accurate pick-up and drop-off locations.</p>
    </body>
</html>
